@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.wedHeading {
  height: 70px;
  /* border: 1px solid green; */
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wedcontainer {
  height: 1040px;
  margin-top: 5px;
  box-shadow: rgba(26, 17, 17, 0.589) 0px 3px 8px;
  margin-bottom: 20px;
  
  
  
}
.wedofferslist > img{
      height: 260px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      width: 320px;
      
}

.wedofferslist{
  display: inline;
  float: left;
  margin: 22px;
  
  
}



.wedcap {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  
}