@import url("https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap");

/* ..............................nav section.............................. */

.sticky {
  background: #fff;
  border: 1px solid black;
  box-shadow: 0 8px 6px -6px black;
  
}

.navbar-brand img {
  height: 60px;
  margin-left: 15px;
}

.nav-item img {
  height: 25px;
  padding-bottom: 5px;
}
a.nav-link {
  color: black;
  font-size: 18px;
  margin-left: 15px;
  font-weight: 640;
}
a.nav-link:focus,
a.nav-link:hover {
  color: #b3112c;
}
a.dropdown-item {
  font-size: 15px;
  color: #2e2c2d;
}
.dropdown-menu {
  --bs-dropdown-link-hover-bg: #b3112c;
  --bs-dropdown-link-hover-color: #fff;
  --bs-dropdown-link-active-bg: #3d3838;
}
span.navbar-toggler-icon {
  background-color: #b3112c;
}

.imgsignup,
.imglogin {
  padding-right: 10px;
}

body::-webkit-scrollbar {
  display: none;
}

/* .............dark mode............ */

.darkmode {
  background-color: black;
  color: white;
}
img#lightdark {
  height: 50px;
  background-color: #fff;
}
.darkmodebtn {
  background-color: #fff;
  border: none;
  margin-left: 95px;
}

/* ................................weather.................... */

.weatherinfo {
  height: 100px;
  /* border: 2px solid blue; */
  margin-top: 15px;
  display: inline-block;
  margin-left: 250px;
}
.weatherbtn {
  height: 30px;
  background: #b3112c;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  width: 100%;
}
p#weather {
  font-family: "Hina Mincho", serif;
  font-size: 20px;
  margin-bottom: 0;
  float: left;
}
.browsheadingweather {
  height: 125px;
  /* border: 2px solid green; */
  display: inline-block;
}
img#wicon {
  height: 70px;
  margin-left: 5px;
  margin-top: 2px;
}

/* ..................................browse category........................... */

.browseHead {
  margin-left: 100px;
  
}

.browse-heading {
  margin: 30px;
  font-weight: bold;
  float: left;
  
}

.browContainer{
  height: 570px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-shadow: inset 0 0 10px #6e6e6c;
  margin-bottom: 20px;
  
}
.browse-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin: 15px;
  color: #b3112c;
  font-family: "Trade Winds", cursive;
}
a:link {
  text-decoration: none;
}
.browse-img img {
  height: 190px;
  width: 95%;
  margin-top: 30px;
}

.browse-img img:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
}

/* ...................................wednesday offers............................ */


@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

.wedHeading {
  height: 70px;
  /* border: 1px solid green; */
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.wedcontainer {
  height: 990px;
  /* border: 2px solid green; */
  margin-top: 5px;
  box-shadow: rgba(26, 17, 17, 0.589) 0px 3px 8px;
  margin-bottom: 20px;
  
  
}
.wedofferslist > img{
      height: 260px;
      width: 330px;
      margin-top: 15px;
      margin-left: 10px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      
}
.wedcap {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
  
}

/* ................................offers and deals................................. */



.offerheadig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.offerheading1 {
  font-size: 40px;
  font-weight: 500;
}
.offerheading2 {
  font-size: 25px;
}

.offercard {
  height: 350px;
  width: 250px;
  float: left;
  border: 1px solid black;
  margin-left: 25px;
  background: #d6cbcd;
  margin-top: 20px;
}

.offercard img {
  height: 200px;
  width: 100%;
}
.offercard-caption {
  font-size: 15px;
}

.cardflip {
  height: 300px;
  display: flex;
  float: left;
  margin-left: 30px;
}
.wrapper,
.singlecard {
  width: 300px;
  margin: auto;
  position: relative;
}

.wrapper {
  perspective: 900px;
}
.singlecard {
  text-align: center;
  transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
  transform-style: preserve-3d;
}
.wrapper:hover .singlecard {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 300px;
  position: relative;
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.front {
  cursor: pointer;
  height: 250px;
  width: 200px;
  background-color: #c92228;
  backface-visibility: hidden;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
}
.back {
  transform: rotateY(180deg);
  position: absolute;
  border-radius: 50px;
  height: 250px;
  background: #a19c9c;
  background: #d5191b;
  color: white;
}
h4 {
  padding-top: 60px;
}

.front img {
  height: 250px;
  width: 300px;
  /* border: 3px solid black; */
}

/* ...................footer side................. */

.footer-container {
  margin-top: 300px;
  height: 320px;
  border: 3px solid rgb(15, 15, 15);
  background-color: #7b7c7b;
}

.footer {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
.footer-logo {
  height: 210px;
  width: 100px;
}
.footer-logo img {
  height: 90px;
  width: 160px;
  padding-top: 30px;
}
.footerheading {
  padding-left: 15px;
}
.KFC-Food {
  height: 165px;
  width: 160px;
  padding-top: 30px;
  list-style-type: none;
  padding-left: 20px;
  line-height: 27px;
}

.kfcfood-list {
  list-style-type: none;
}
.kfcfood-items {
  text-decoration: none;
}
.Support {
  height: 165px;
  width: 160px;
  padding-top: 30px;
  line-height: 27px;
}
.support-list {
  list-style-type: none;
}

.Legal {
  height: 165px;
  width: 160px;
  padding-top: 30px;
  line-height: 27px;
}
.legal-list {
  list-style-type: none;
}
.KFC-India {
  height: 165px;
  width: 160px;
  padding-top: 30px;
  line-height: 27px;
}
.kfc-india-list {
  list-style-type: none;
}
a:link {
  text-decoration: none;
}

a:visited {
  color: rgb(179 17 44);
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

.applink {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}
.playstore img {
  height: 160px;
  width: 150px;
}
.appstore img {
  height: 57px;
  width: 160px;
  padding-right: 10px;
}

div.fb,
div.insta,
div.twitter {
  padding-left: 20px;
}

.copyrights {
  height: 20px;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

/* ...........................coupon code............... */

#coupon {
  position: absolute;
  z-index: 100;
  display: none;
  justify-content: center;
  width: 100%;
  height: 340vh;
  padding-top: 135px;
  backdrop-filter: blur(10px);
}

.couponcode {
  display: flex;
  position: inherit;
  width: 60%;
  justify-content: center;
}

.popupcontent {
  position: relative;
  width: 600px;
}

#PopupImage {
  width: 100%;
}

#popupClose {
  position: absolute;
  right: 5px;
  top: 5px;
  background: whitesmoke;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}
