@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Merienda:wght@300&family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');






.item {
  width: 90%;
  height: 280px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  /* border: 1px solid green; */
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 15px;
}


.itemImg>img {
  width: 300px;
  height: 220px;
  margin-left: 10%;
  margin-top: 25px;
}

.itemImg img:hover {
  transform: scale(1.1);
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px black;
}  

.itemDetails{
  margin-top: 20px;
}

.itemsName {
  width: 100%;
  height: 40px;
  font-size: 23px;
  font-weight: bold;
  font-family: 'Cinzel Decorative', cursive;
  /* border: 1px solid green; */
}
.description{
  display: flex;
  /* margin-top: 20px; */
  font-size: 20px;
  font-family: 'Merienda', cursive;
  
  
}
.itemTypes{
  margin-top: 12px;
  font-size: 42px;
  font-family: 'Tangerine', cursive;
  
}

.itemPrice{
  margin-top: 5px;
  color: #b3112c;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Kalam', cursive;
}


.listingpage {
  /* border: 5px solid green; */
  height: 550px;
  display: flex;
  justify-content: space-between;


}



.kfcmenulist {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 25px;
  /* border: 1px solid green; */
  margin-left: 20px;
}

.menu1 {
  line-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid green; */
  margin-top: 10px;
  color: #b3112c;
  background-color: rgb(202, 226, 247);
  box-shadow: 0 8px 6px -6px black;
  width: 200px;
  font-family: "Mate SC", serif;
  font-weight: bold;
  margin-left: 20px;
}

a:link {
  text-decoration: none;
}

.menu1:hover {
  transform: scale(1.1);
  color: #000;
  box-shadow: inset 0 0 10px #6e6e6c;
}





.menulistItems {
  height: 900px;
  /* border: 1px solid green; */
  height: 100%;
  overflow-y: auto;
  width: 76%;
  margin-right: 45px;

}


::-webkit-scrollbar {
  display: none;
}


