@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Josefin+Slab:ital,wght@1,500&family=Mate+SC&family=Merienda:wght@300&family=Rampart+One&display=swap');




.detailsCointainer {
    display: flex;
    /* border: 4px solid blueviolet; */
    height: 420px;
    margin-top: 15px;
    margin-bottom: 51px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}

.imageSec {
    /* border: 1px solid green; */
    height: 350px;
    width: 40%;
    margin-top: 20px;
}

.imageSec img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-left: 20px;
}

.contentSec {
    /* border: 1px solid green; */
    height: 400px;
    width: 50%;
    margin-top: 20px;
    margin-left: 50px;
}
.itemsName_d {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Cinzel Decorative', cursive;
    color: #b3112c;
}

.description_d{
    font-size: 25px;
    font-family: 'Josefin Slab', serif;
    font-family: 'Mate SC', serif;
    margin-top: 10px;
}
.itemTypes_d{
    font-size: 25px;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: bold;
    margin-top: 10px;
}
.itemPrice_d{
    font-size: 25px;
    color: #b3112c;
    font-family: 'Rampart One', cursive;
    font-weight: bold;
    margin-top: 10px;
}